<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Using OSS for research</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td>Packaging software</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Unit testing and continious integration</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:30</td>  <td>Containers</td> </tr>
      <tr> <td>17:30</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
